.app-name-container {
  background-color: darkslategray;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}

.app-name {
  color: white;
  padding-left: 1rem;
  text-align: left;
}
